
*{
  box-sizing:border-box;
}

html,body,#root{
  height:100%;  
  position:fixed;
  top:0; left:0; right:0; bottom:0;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  color:black;
}

.main-title{
    font-size:15px;
}

header{
  position:absolute; 
  top:0;
  left:0;
  width:100%;
  border-bottom:2px solid purple;
  color:purple;
  padding: 8px 10px;
  background:rgba(255, 255, 255, 0.6);

  display:flex;
  align-items:center;
  justify-content:space-between;
  font-size:2rem;
}

header img{
    height: 27px;
    margin-right:9px;
}

.logo{
  height:24px; 
  margin-right:10px;
}

.logo-wrap{
  display:flex;
  align-items:center;
}

.edit-username{
  display:flex;
  align-items:center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:18px;
  padding:4px;
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:4px;
}

.name-input{
  color:white;
  height:31px;
  left:42%;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:pink;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.username{
  display:flex;
  align-items:center;
  margin-right:12px;
  font-size:1.1rem;
}

.text-input-wrap{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:48px;
  border-top:2px solid purple;
  background:rgba(255,255,255,0.6);
}

.text-input{
    position:absolute;
    bottom:1px;
    left:40px;
    width:calc(100% - 50px);    
    height:40px;
    border:2px solid white;
    background:rgba(250,150,150);
}

input{
    position:absolute; 
    left:2%;
    bottom:6px;
    border-radius:15px;
    width:50%;
    height:27px;
    border:2px solid white; 
}

.button{
    position:absolute;
    bottom:5px;
    left:82.5%;
    border-radius:15px;
    border:1px solid white; 
    width:15%;
    height:70%;

}

.button:hover{
  background:pink;
  color:white;
}

.button:focus{
  outline:none;
  border: 1px solid pink ;
}

.messages{
  height:calc(100% - 8rem); /* vh = view height; 100% size of screen*/
  width:100vw;
  position:absolute;
  top:4rem;
  left:0px;
  display:flex; /*flex allows you to use flex direction, doesn't do anything by itself*/
  flex-direction:column-reverse; /*show items in reverse order (like with the messages)*/
  overflow-y:scroll; /*if there's anything overflowing, height of div on vertical access has scrollbar*/ 
}

.message-wrap{
  display:flex;
  justify-content:flex-start;
  width:100%;
  flex-shrink:0;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message{
  color:rgb(85, 5, 5);
  background:rgba(250,150,150);
  margin:5px;
  border-radius:5px;
  padding: 6px 10px; 
}

/*.msg-text{
  color:white;
  background:rgba(250,150,150);
  margin:5px;
  display: inline-block;
}

.msg-name{
  font-size:20px;
  position:absolute;
  top:-9px;
  left:5px;
}

.edit-username{
  display: flex;
  align-items: center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:18px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
  border-radius:4px;
}

.name-button:hover{
  background:rgba(255,255,255,0.1)
}

.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.username{
  display: flex;
  align-items: top;
  margin-right:12px;
  font-size:1.1rem;
}

/* width: calc:(100%-8px); */