
*{
  box-sizing:border-box;
}
html{
  height:100%;  
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  color:black;
}

.main-title{
    font-size:15px;
}

header{
  position:absolute; 
  top:0;
  left:0;
  width:100%;
  border-bottom:2px solid purple;
  color:purple;
  padding: 8px 10px;
  background:rgba(255, 255, 255, 0.6);

  display:flex;
  align-items:center;
}

header img {
    height: 27px;
    margin-right:9px;
}

.text-input{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:42px;
    border-top:2px solid purple;
    background:rgba(255, 255, 255, 0.6);
}

input{
    position:absolute; 
    left:6px;
    top:6px;
    border-radius:15px;
    width:95%;
    height:27px;
    border:1px solid white; 
    background:rgba(250,150,150);
    color:white;

}

button{
    position:absolute;
    top:10.4px;
    left:80%;
    border-radius:15px;
    border:1px solid white; 
}

/* width: calc:(100%-8px); */






